.navbar {
  background-color: var(--card-bg);
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  align-items: center;
  box-shadow: 0 2px 10px #000;
  position: fixed;
  width: 100%;
  z-index: 998;
}

.nav-actions {
  display: flex;
  align-items: center; 
  gap: 1rem;
}

.cart-icon {
  position: relative;
  cursor: pointer; 
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
}
