:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --card-bg: #f1f1f1;
}

body.dark-theme {
  --bg-color: #111111;
  --text-color: #ffffff;
  --card-bg: #222222;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s ease;
}
